<h1><%=@post.title%></h1>
<p><%=@post.content%></p>
Leave a comment:
<%=form_for post do |f|%>
<%end%>
Comments:
<%@post.comments.each do |comment|%>
  <li><%=comment.user.username%> - <%=comment.content%></li>
<%end%>

<%@post.users.uniq.each do |user|%>
  <%=link_to user.username, user_path(user)%>
<%end%>
