<h1><%=@post.title%></h1>
<p><%=@post.content%></p>
Comments:
<%=@post.users.uniq.each do |comment|%>
  <%=link_to comment.user.username, user_path(comment.user)%> - <%=comment.content%> <br>
<%end%>
